

vendor/*
!vendor/longman/

vendor/longman/*
!vendor/longman/telegram-bot

vendor/longman/telegram-bot/*
!vendor/longman/telegram-bot/src

vendor/longman/telegram-bot/src/*
!vendor/longman/telegram-bot/src/Commands

vendor/longman/telegram-bot/src/Commands/*
!vendor/longman/telegram-bot/src/Commands/SystemCommands

secret.php
test.php